h1{
color:blue;
font-family: "Helvetica Neue",  sans-serif;
}
body {
background-color:rgb(222,240,247);
}
h2{
    color: blue;
    font-family: "Helvetica Neue", sans-serif;
}
p {
    font-family: "Helvetica Neue", sans-serif;
}
ul {
    font-family: "Helvetica Neue", sans-serif;
}
