body {
background-color:rgb(222,240,247);
}
#webtitle {color:blue;
      
       }
.camo{
        width: 250px;
            position: absolute;
            top: 20px;
            left: 10px;
            z-index: 1;
}

