<style>
body{
    background-color:rgb(190, 222, 182);
}
#p {
    font-family:Candara, sans-serif;
    font-size: 1.3em;
    text-color:white;
    
}
.intro{
    background: rgb(56, 82, 65);
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    color:white;
    padding:10px;
    
}

#hi {
    font-family:Candara,sans-serif;
    font-size:1.5em
}
  #camo {

    
                margin-left:auto;
                margin-right:auto;
      z-index:1;
      postition:absolute;
      
        }


             h1 {
                font-family: "Trebuchet MS", Helvetica, sans-serif;
                color: ghostwhite;
                text-align:center;
                 left:750px
            position: absolute;
            z-index: 2;
                 
            font-size:4em ;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
          -1px 1px 0 #000, 1px 1px 0 #000; color: ghostwhite;
        }

         .shelter {
                color:rgb(61, 48, 13);
            }
            h2.shelter{
                background-color:rgb(61, 48, 13);
                color:white;
                
            }
            .fire {
                color:rgb(97, 1, 14);
            }
            h2.fire {
                background-color:rgb(97, 1, 14);
                color:white;
               
            }
            .weather {
                color:rgb(5, 2, 41);
            }
            h2.weather {
                background-color:rgb(5, 2, 41);
                color:white;
                
            }

            #container {
                width: 100em;
               margin:auto;
                border: 2px solid lightslategray;
                border-top: 10px solid lightslategray;
                 border-bottom: 10px solid lightslategray;
                padding: 10px;
                background-color:rgb(197, 219, 215);
            }

            #shelter-pic
            {
                display:block;
                margin-left:auto;
                margin-right:auto;
                
            }
           

            #footer {
                background-color: rgb(56, 82, 65);
                padding: 6px;
                clear: both;
                font-family: Candara, sans-serif;
                color:white;

            }
            .parks {
                font-family: Candara, sans-serif;
                font-size: 1.3em;
            }
            h4 {
                font-family: Candara, sans-serif;
                font-size: 1.3em;
            }
            .directions
            {
                font-family: Candara, sans-serif;
                font-size: 1.3em;
            }
            .feu{
                font-family: Candara, sans-serif;
                font-size: 1.3em;
            }
            h3 {
                font-family: Candara, sans-serif;
                font-size: 1.3em;
            }
            .meteo {
                font-family: Candara, sans-serif;
                font-size: 1.3em;
            }
           </style>
